<form action="/favourites" method="post">
  <!-- <input type="hidden" name="id" value="<%= home._id %>"> -->

  <!-- for mongo -->
  <input type="hidden" name="id" value="<%= home._id %>" />

  <button type="submit" class="btn">Favourite</button>
</form>
