<header>
  <div class="logo">
    <a href="/">🏠 Airbnb</a>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/host/add-home">Add Home</a>
    <a href="/favourites">favourites</a>
    <a href="/404">404</a>
  </nav>
</header>
